body {
    font-family: Noto Sans KR, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    font-family: Noto Sans KR, sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #333;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.question {
    margin: 20px 0;
    font-size: 1rem;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #333;
}

input[type="text"] {
    font-size: 1rem;
    padding: 5px;
    width: auto;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.show-answer-btn {
    background-color: #ffebee;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.review-answer-btn {
    background-color: #edffeb;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.show-answer-btn:hover {
    background-color: #e6e6e6;
}

.close-answer-btn {
    background-color: #ADD8E6;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.feedback {
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.word-item {
    margin-bottom: 20px; 
    line-height: 1.6;
}

ul {
    padding-left: 20px; 
    margin-top: 10px;    
}

li {
    margin-bottom: 5px; 
}

.spaced {
    display: block;
    margin-top: 10px;
}

/* #remainingWords {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    background-color: #edb2d0; 
    padding: 15px 20px; 
    border-radius: 40px; 
    font-size: 2.0rem; 
    transition: background-color 0.3s ease;
} */

#remainingWords {
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #bd81a0; /* 그라데이션 배경 */
    color: white; /* 흰색 글씨 */
    padding: 15px 20px; /* 넉넉한 패딩 */
    border-radius: 30px; /* 둥근 모서리 */
    font-size: 1.5rem; /* 글씨 크기 */
    font-weight: bold; /* 굵은 글씨 */
    transition: all 0.3s ease-in-out; /* 모든 변화에 전환 효과 추가 */
    text-align: center; /* 글씨 가운데 정렬 */
    letter-spacing: 1px; /* 글자 간격 조정 */
}


.dash-icon {
    width: 20px;
    height: 20px;
    vertical-align: -2px;
    margin-right: 5px;
}

.correct-answer {
    color: blue;
    font-weight: bold; 
}

/* 다크모드 */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    .tab {
        background-color: #333;
        border-bottom: 1px solid #555;
    }

    .tab button {
        color: #e0e0e0;
    }

    .tab button.active {
        background-color: #555;
    }

    .tab button:hover {
        background-color: #444;
    }

    .tabcontent {
        background-color: #333;
        border: 1px solid #555;
    }

    .question {
        background-color: #444;
        border: 1px solid #555;
        color: #e0e0e0;
    }

    input[type="text"] {
        background-color: #555;
        color: #e0e0e0;
        border: 1px solid #666;
    }

    .show-answer-btn, .review-answer-btn {
        background-color: #a47676;
        color: #e0e0e0;
        border: 1px solid #555;
    }

    .show-answer-btn:hover, .review-answer-btn:hover {
        background-color: #555;
    }

    .close-answer-btn {
        background-color: #3a4a7e;
        color: #e0e0e0;
        border: 1px solid #555;
    }

    .feedback {
        color: white;
    }

    ul {
        color: #e0e0e0;
    }
}